@font-face {
  font-family: "gilroy-regular";
  src: url("../fonts/Gilroy-Regular.woff"); }

@font-face {
  font-family: "gilroy-semi";
  src: url("../fonts/Gilroy-SemiBold.woff"); }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'gilroy-semi'; }

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

html {
  font-family: 'Montserrat'; }

body {
  line-height: 1.6;
  margin: 0;
  font-family: 'gilroy-regular';
  font-size: 14px; }

.container {
  max-width: 1000px;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto; }

.nonescroll {
  overflow: hidden;
  /* header */ }

.header {
  width: 100%;
  max-width: 1300px;
  padding: 0 40px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: 115px;
  margin: auto; }

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 56px;
  /* toggle */ }

.nav-toggle {
  width: 30px;
  padding: 10px 0;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  z-index: 1; }

.nav-toggle:focus {
  outline: 0; }

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #356EAD;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear; }

.nav-toggle.active .nav-toggle__item {
  background: none; }

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #356EAD;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear; }

.nav-toggle__item:before {
  top: -8px; }

.nav-toggle__item:after {
  bottom: -8px; }

.nav-toggle.active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translate3d(0px, -2px, 0);
          transform: rotate(45deg) translate3d(0px, -2px, 0); }

.nav-toggle.active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translate3d(0px, 3px, 0);
          transform: rotate(-45deg) translate3d(0px, 3px, 0); }

/* intro */
.intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #98c3e84d), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: -o-linear-gradient(bottom, #98c3e84d 8.84%, rgba(152, 195, 232, 0) 31.12%);
  background: linear-gradient(0deg, #98c3e84d 8.84%, rgba(152, 195, 232, 0) 31.12%);
  z-index: 10;
  max-height: 768px; }
  .intro__content {
    background: url("../img/background.png") no-repeat 95% 75%;
    height: 100%;
    background-size: 45%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1350px;
    margin: auto; }
  .intro__info {
    color: #1F3F68;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    width: 425px;
    margin-top: 32px;
    margin-bottom: 71px; }
  .intro__btn a {
    background: #5A98D0;
    -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
            box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 48px; }

.intro__inner {
  max-width: 65%;
  text-align: left; }

.intro__suptitle {
  font-size: 64px;
  font-weight: 700;
  color: #1F3F68;
  line-height: 74px;
  letter-spacing: 0.04em; }

/* services */
.services {
  padding-top: 192px;
  padding-bottom: 150px; }
  .services__title {
    color: #316099;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0.05em;
    width: 365px;
    position: absolute; }
  .services__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .services__item__btn {
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 0.05em;
      color: #5A98D0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .services__item__btn img {
        margin-left: 28px; }
    .services__item__block {
      width: 100%; }
    .services__item__content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 48px;
      width: 380px;
      height: 525px;
      background: #FFFFFF;
      -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
              box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
      border-radius: 10px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      margin-bottom: 100px; }
  .services__items {
    margin-left: 100px; }
    .services__items__img {
      position: absolute;
      top: -30px; }
  .services__information {
    color: #1F3F68;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-top: 56px; }
    .services__information__subtitle {
      opacity: 0.6;
      color: #1F3F68;
      font-size: 16px;
      line-height: 26px;
      width: 284px; }

.main__text {
  margin-top: 170px; }

/* clients */
.clients {
  background: #5A98D0;
  width: 100%;
  height: 100%;
  border-radius: 200px 0px 0px 0px;
  padding-top: 96px; }
  .clients__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px; }
  .clients h2 {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #fff;
    width: 225px;
    margin-right: 100px; }
  .clients p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 540px;
    opacity: 0.6; }
  .clients__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .clients_item {
    width: 235px;
    height: 128px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #FFFFFF; }
  .clients a {
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #F2F2F2;
    font-family: 'gilroy-semi'; }
  .clients__block__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 125px; }

.border_white {
  border-top: 1px solid #FFFFFF; }

.clients_item:last-child {
  border: none; }

.more_client {
  background: #1f3f6857;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #fff; }
  .more_client a {
    opacity: 1; }

/* footer */
.team {
  background: #316099;
  border-radius: 0px 200px 0px 0px;
  padding-top: 91px;
  padding-bottom: 70px;
  margin-right: 100px;
  position: relative; }
  .team:before {
    content: "";
    display: block;
    position: absolute;
    top: 47%;
    width: 89%;
    height: 1px;
    background: #fff; }
  .team_items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 50px; }
  .team p {
    width: 460px; }
  .team h2 {
    width: 320px; }
  .team_btn a {
    background: #5A98D0;
    border-radius: 10px;
    padding: 15px 74px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-family: 'gilroy-regular';
    margin-left: 120px; }
  .team_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50px;
    margin-top: 170px;
    width: 30%; }
    .team_item h2 {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 46px;
      letter-spacing: 0.02em; }
    .team_item a, .team_item p {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      font-family: 'gilroy-regular';
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      opacity: 1;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; }
    .team_item a {
      margin-bottom: 24px; }
    .team_item p {
      margin: 0; }
    .team_item span {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #fff;
      font-family: 'gilroy-semi';
      margin-right: 16px; }
  .team_item_two {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50px;
    margin-top: 170px;
    width: 25%; }
    .team_item_two h2 {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.05em; }
    .team_item_two a {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      font-family: 'gilroy-regular';
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      opacity: 1;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      margin-bottom: 16px; }
  .team_contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.copy {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #fff;
  opacity: 0.4;
  margin-left: 50px;
  margin-top: 44px; }

/*Modal form*/
.overlay {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  overflow-y: auto;
  z-index: 999; }

#modal1 {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  width: 540px;
  height: 600px;
  padding: 56px;
  outline: 0; }

.overlay.open {
  opacity: 1;
  pointer-events: inherit; }

.overlay .modal {
  background: white;
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
  position: relative; }

.overlay .modal.open {
  opacity: 1;
  pointer-events: inherit; }

.overlay .modal.open .content {
  -webkit-transform: translate(0, 0px);
      -ms-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1; }

.overlay .modal .content {
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  opacity: 0;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out; }

.overlay .modal .title {
  margin-top: 0; }

.close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.7; }

.close-modal_two {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.7; }

.modal_title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin-bottom: 40px; }

.form_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form_content label {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-bottom: 8px;
    margin-top: 32px; }
  .form_content_input {
    width: 100%;
    height: 72px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px; }
    .form_content_input::-webkit-input-placeholder {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.04em;
      color: #1F3F68;
      opacity: 0.4; }
    .form_content_input::-moz-placeholder {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.04em;
      color: #1F3F68;
      opacity: 0.4; }
    .form_content_input:-ms-input-placeholder {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.04em;
      color: #1F3F68;
      opacity: 0.4; }
    .form_content_input::-ms-input-placeholder {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.04em;
      color: #1F3F68;
      opacity: 0.4; }
    .form_content_input::placeholder {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.04em;
      color: #1F3F68;
      opacity: 0.4; }
  .form_content textarea {
    height: 144px;
    resize: none;
    padding-top: 17px; }

#form_btn {
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 23px 184px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 60px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none; }

/*Massage*/
.top_content {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: auto; }

.top_content.active ~ * {
  opacity: 1;
  -webkit-filter: blur(400px);
          filter: blur(400px); }

.ok_info {
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  color: #5A98D0;
  margin-bottom: 10px; }

.good_img {
  margin-bottom: 10px; }

@media only screen and (max-width: 1150px) {
  .team_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .team_btn a {
    margin-left: 0; }
  .team_btn {
    margin-top: 20px; }
  .team:before {
    display: none; }
  .team_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .team_item_two {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .team_item {
    margin-left: 0;
    margin-top: 80px;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .copy {
    text-align: center;
    margin-left: 0; }
  .clients h2 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 0; } }

@media only screen and (max-width: 1100px) {
  .intro__suptitle {
    font-size: 50px; }
  .clients__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

@media only screen and (max-width: 990px) {
  .intro__suptitle {
    font-size: 40px; }
  .services__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .services__items {
    margin-left: 0; }
  .services__title {
    position: relative;
    margin: auto;
    margin-bottom: 40px; }
  .services {
    padding-top: 100px; }
  .clients__items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .clients_item {
    width: 50%;
    border: none; } }

@media only screen and (max-width: 768px) {
  .intro__suptitle {
    line-height: 60px;
    font-size: 30px; }
  .intro__inner {
    max-width: 100%; }
  .clients_item {
    width: 100%; }
  .border_white {
    border: none; }
  .clients h2 {
    font-size: 25px; }
  .team_items {
    margin-left: 0; }
  .team_items_two {
    margin-left: 0; } }

@media only screen and (max-width: 575px) {
  .services__title {
    font-size: 25px; }
  .clients p {
    width: 100%; }
  .team {
    margin-right: 0; }
  .services__item__content {
    width: 90%;
    margin: auto;
    margin-top: 30px; }
  .services__information__subtitle {
    width: 100%; }
  #modal1 {
    width: 100%;
    padding: 30px;
    height: 100%; }
  #form_btn {
    padding: 12px 100px;
    margin-top: 20px; }
  .block_btn {
    width: 100%;
    text-align: center; }
  .form_content_input, .form_content textarea {
    height: 50px; }
  .modal_title {
    margin-bottom: 0; }
  .form_content label {
    margin-top: 10px; }
  .form_content textarea {
    padding-top: 10px; } }

@media only screen and (max-width: 480px) {
  .intro__suptitle {
    line-height: 50px;
    font-size: 25px; }
  .intro__info {
    font-size: 14px;
    width: 100%; }
  .services__item__content {
    width: 100%;
    padding: 10px; }
  .services__title {
    width: 100%; }
  #form_btn {
    padding: 9px 57px;
    margin-top: 32px;
    font-size: 12px; }
  .form_content label {
    font-size: 12px;
    margin-bottom: 0; }
  .modal_title {
    font-size: 14px; }
  .form_content_input::-webkit-input-placeholder {
    font-size: 13px; }
  .form_content_input::-moz-placeholder {
    font-size: 13px; }
  .form_content_input:-ms-input-placeholder {
    font-size: 13px; }
  .form_content_input::-ms-input-placeholder {
    font-size: 13px; }
  .form_content_input::placeholder {
    font-size: 13px; } }
